@import '../../assets/styles/vars';

.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    bottom: 3.94vw;
    left: 4.27vw;
    width: 91.47vw;
    height: min(18.67vw, 70px);
    z-index: 3;
    &_wrapper {
        display: flex;
        height: min(16vw, 60px);
        width: $size343px;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(to right, #202020, #223B37);
        border-radius: 8px;
        overflow: visible;
    }
    &_main_button {
        width: min(18.67vw, 70px);
        height: min(18.67vw, 70px);
        border-radius: 50%;
        border: min(1.27vw, 4.75px) solid $green;
        background: linear-gradient(45deg, #8CDB4E, #223B37);
        img {
            width: 100%;
            height: auto;
        }
    }
}