@import '../../../assets/styles/vars';

.button {
    display: block;
    position: relative;
    color: #000;
    background-color: $green;
    width: min(82.67vw, 310px);
    height: min(14.93vw, 56px);
    font-family: $MSemiBold;
    font-size: min(6.4vw, 24px);
    border-radius: 8px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}