@import '../../../../assets/styles/vars';

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: min(155.73vw, 584px);
    width: min(100vw, 375px);
    background: $card_background;
    z-index: 4;
    border-radius: $br8px $br8px 0 0;
    border-top: min(0.53vw, 2px) solid $green;
}