@import '../../../assets/styles/vars';

.item {
    overflow: visible;
    position: relative;
    height: min(16.53vw, 62px);
    display: flex;
    align-items: center;
    font-family: $MBold;
    color: #fff;
    text-align: center;
    &_img {
        position: absolute;
        width: min(16.53vw, 62px);
        height: min(16.53vw, 62px);
        z-index: 2;
        left: -30%;
    }
    &_container {
        height: min(11.2vw, 42px);
        padding: 0 min(2.67vw, 10px) 0 min(8vw, 30px);
        display: flex;
        flex-direction: column;
        border-radius: $br8px;
        background: $dark_gradient;
        border: 2px solid #494949;
        &_title {
            font-size: $fz12px;
        }
        &_count {
            font-size: $fz18px;
        }
    }
}