@import '../../../../../assets/styles/vars';

.item {
    color: #fff;
    border: 2px solid $green;
    background-color: $card_background;
    width: $size343px;
    height: min(14.93vw, 56px);
    border-radius: $br8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4%;
    &_profile {
        width: 23.03%;
        height: 62.5%;
        display: flex;
        justify-content: space-around;
        img {
            margin-right: $br8px;
        }
        &_info {
            display: flex;
            flex-direction: column;
            gap: 1%;
            &_place {
                font-family: $MBold;
                color: #818181;
                font-size: $fz12px;
            }
            &_name {
                font-size: $fz14px;
                font-family: $MSemiBold;
            }
        }

    }
    &_count {
        width: 31.49%;
        height: 42.86%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &_img {
            width: 22.22%;
            aspect-ratio: 1;
        }
        &_text {
            color: $green;
            font-family: $MBold;
            font-size: $size16px;
        }
    }
}
.item:not(:last-child) {
    margin-bottom: 2.4%;
}
