@import '../../../assets/styles/vars';

.container {
    display: flex;
    flex-direction: column;
    width: $size343px;
    position: relative;
    z-index: 2;
    &_title {
        color: #fff;
        font-size: $fz18px;
        font-family: $MBold;
    }
    &_tasks_wrapper {
        overflow: scroll;
        max-height: 60vh;
        &_list {
            display: flex;
            flex-direction: column;
            gap: $size16px;
    
        }
    }
}