.stats {
    overflow: visible;
    position: absolute;
    height: min(16.53vw, 62px);
    width: min(59.73vw, 224px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 2;
    left: 24vw;
    top: 14.93vw;
}