.stats {
    overflow: visible;
    position: absolute;
    height: min(16.53vw, 62px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    top: 14.93vw;
    &_wrapper {
        height: inherit;
        display: flex;
        overflow: visible;
        gap: 20%;  
    }
}