@import '../../../../../assets/styles/vars';

.skin_item {
    width: min(44.53vw, 167px);
    height: min(46.93vw, 176px);
    background: $card_background;
    border-radius: $br8px;
    color: #fff;
    padding: 2.35%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: $fz12px;
    gap: $br8px;
    &_lvl {
        font-family: $MBold;
        color: $green;
    }
    &_name { font-family: $MBold; }
    &_profit {
        &_text { color: #818181; }
        font-family: $MMedium;
    }
    &_img {
        width: min(17.07vw, 64px);
        height: min(17.07vw, 64px);
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    &_profit {
        height: 9.09%;
        display: flex;
        justify-content: space-between;
        &_count {
            width: 32.45%;
            img {
                width: 32.65%;
                height: auto;
            }
        }
    }
    &_button {
        width: 100%;
        height: 18.18%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        border-radius: $br8px;
        color: #000;
        font-family: $MBold;
        img {
            width: 10.6%;
            height: auto;
        }
    }
}
