@import '../../assets/styles/vars';

.tree {
    position: absolute;
    width: min(62.93vw, 236px);
    height: min(125.877vw, 472px);
    left: 18.13vw;
    bottom: 66.67vw;
    background: url($tree_background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}