@import '../../assets/styles/vars';

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    background: url($page_background) no-repeat;
    background-size: cover;
    background-position: center;
}