@import '../../../../assets/styles/vars';

.skin_container {
    width: min(91.47vw, 343px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    z-index: 2;

    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $br8px;
    }
}